{% extends "user/layout.html" %}
{% block title %}<title>About Erekere</title>{% endblock %}
 {% block hero %}
    <div class="row hero_box mx-auto overflow-hidden">
        <div class="col-md-6 textbox">
            <a href="/">home &sol;</a>
                <a href="{{ url_for("about") }}">About-us</a>
            <h1 class="text-dark-blue">About Us</h1>
            <p>
                We provide premium tourism services, teaching
                about the various benefits of traveling/ through experience rather than reading from a book.
            </p>
        </div>
        <div class="col-md-6 imagebox">
        </div>
    </div>
 {% endblock %}
 {% block contentBody %}
 <section class="my-5">
    <div class="row">
        <div class="col-md-10 my-5 mx-auto">
          <h1 class="animate__animated animate__bounce text-center text-dark-blue">The Eré Diaries</h1>
        </div>
    </div>
    <div class="row mx-auto body_box">
        <div class="col-md-6 my-5 d-md-flex d-none" id="body_box2"></div>    
        <div class="col-md-5 body_box1">
            <h2 class="mt-5 fw-bold">What&apos;s Erekere About&quest;</h2>
            <p class="">
                Erekere is a Nigerian tour operating company that promotes African tourism and connects people.
                We organise group tours, school excursions, corporate retreats, holiday packages and also offer
                tour guide services within Africa, to educate people about the beauty within.
                We organise affordable tours to encourage Nigerians and even foreigners to explore our rich and
                diverse cultural heritage as well as our enthralling and beautiful landscapes.
            </p>
        </div>
    </div>
</section>
{% endblock %}
{% block extra %}
<section class="my-5">
    <div class="row justify-content-center align-items-center bg-lilac">
        <div class="col-md-5 my-5">
            <div style="margin:10px">
                <h2 class="ps-4 text-dark-blue mx-auto fw-bold">Our Mission</h2>
                <p>
                    <ul>
                        <li class="d-inline">To be a reliable tourism brand that offers luxury experience at pocket friendly prices.</li>
                        <li class="d-inline">To create awareness to Nigerians and Foreigners alike, about the the beauty and
                            richness of the Nigerian Culture and the need to develop and improve upon what
                            we already have.</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="col-md-5 my-5">
            <div style="margin:10px">
                <h2 class="ps-4 text-dark-blue mx-auto fw-bold">Our Vision</h2>
                <p>
                    <ul>
                        <li class="d-inline">To curate experiences that linger for either groups and individuals</li>
                        <li class="d-inline">To help Nigerians understand and appreciate what this country has to offer by
                            improving domestic tourism and Increasing the level of Cultural enlightenment.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div> 
</section>
{% endblock %}

