{% extends "user/layout.html" %}
{% block title %}<title>Contact - Erékéré</title>{% endblock %}
{% block moreStyle %}
    <style type="text/css">
        .imagebox{
            background-image:url(static/images/trip.jpg),
            linear-gradient(65deg, #3066be 12%, #23f0c7 88%);
            background-position: bottom;
        }
        #preference{
            font-size:small;
            font-weight:600
        }

    </style>
{% endblock %}
{% block hero %}    
<div class="row hero_box">
    <div class="col-md-6 textbox">
        <a href="{{ url_for('home') }}">home &sol;</a>
            <a href="{{ url_for("contact") }}">contact-us</a>
        <h1>Contact Us</h1>
        <p>
            We help you experience the interconnection of humanity that create a meaningful
            relationship between different people. 
        </p>
    </div>
    <div class="col-md-6 imagebox"></div>
</div>
{% endblock %}
{% block contentBody %}
    <section class="row body_content mx-auto mt-5">
        <p class="col-md-12 body_intro mx-auto mt-4">
            We stand behind your promise to provide reliable tourism services that offers
            luxury experience at pocket friendly prices. Thereby, curating experiences
            that linger.
        </p>
    </section>
    <div class="row mx-auto body_box">    
        <div class="col-md-5 body_box1">
            <h2 class="mt-3">Our Customers</h2>
			<p>
				We provide educational, cultural, adventure and recreational tourism
                services for individuals, organizations, government parastatals and businesses.
                In our hospitality division, we currently manage a 91-room resort in
                Southwest Nigeria. Erékéré was birthed from pure passion and an opportunity
                to provide a service that many desired but couldn&apos;t access. Nigeria and the
                rest of Africa has a massive latent tourism potential that needs to be
                exploited and we are putting ourselves in a position to drive this in the future.
			</p>
        </div>              
        <div class="col-md-6 d-md-flex d-none offset-1" id="body_box2"></div>
    </div>
{% endblock %} 
{% block extra %}        
<section width="80%">
    <div></div>
        <p class="form_intro">
            Got questions? Submit a request for information and we will get back to you shortly.
</section>
<section class="mx-auto px-auto my-5">
    <div class="mx-auto border border-2 _edge" style="width:50%; padding:10px">
    <form class="my-5" action="" method="post">
        <input type="hidden" name="csrf_token" value="csrf_token()"/>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
            {{ message }}
        {% endfor %}
        {% endif %}

        {% endwith %}
        <legend class="text-lilac text-center">Fill this form and we will get back to you.</legend>
        <div class="form-group">
            <input class="form-control mb-3" type="text" placeholder="Name" name="c_name" required/>
        </div>
        <div class="form-group">
            <input class="form-control my-3" type="email" placeholder="Email" name="email" required/>
        </div>
        <div class="form-group">
            <input class="form-control my-3" type="number" placeholder="Phone Number" name="phone" required/>
        </div>
        <div class="form-group">
            <select class="form-control my-3" name="gender" required>
                <option value="/">- Select Gender-</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="nil">I'd rather not say</option>
            </select>
        </div>
        <div class="form-group">
            <label for="method" class="form-control" id="method" name="method" required>How would you like to be contacted?</label>
                <input type="radio" name="method" style="color:#ffffff" value="phonecall" class="ms-3">Phone Call<br>
                <input type="radio" name="method" value="whatsapp" class="ms-3">WhatsApp<br>
                <input type="radio" name="method" value="email"class="ms-3">Email<br>
        </div>
        
        
        <div class="form-group">
            <label for="message" class="form-control">Message</label>
            <textarea type="textarea" class="form-control my-2" name="message" required></textarea><br><br>
        </div>
       
        <div class="text-center">
            <button class="btn btn-warning _btn text-center" type="submit">Submit</button>
        </div></div>
    </form></div>
</section>
{% endblock %}