{% extends "user/layout.html" %}
  <title>Erékéré</title>
  {% block moreStyle %}<link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}"/>{% endblock %}
  <style>
      .formlink span a{
          text-decoration:none;
          color:brown;
          font-size:smaller
      }
      .formlink span{
          color:#10349A;
          font-size:smaller
      }

    #inner_form input[type=text],
    input[type=password],
    input[type=email]{
    width: 95%;
    height:40px;
    padding: 10px;
    margin: 4px 20px;
    box-sizing: border-box;
    color: #000;
    background-color: #F5EE9E;
    outline: none;
    border-radius: 4px;  
    }

    
  </style>
{% block hero %}{% endblock %}
{% block contentBody %}
  <section>
    <div class="form_box">
      <form action="" method="post">
          <input type="hidden" name="csrf_token" value="csrf_token()"/>
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
              {{ message }}
          {% endfor %}
          {% endif %}

          {% endwith %}
      <div class="card">
          <input type="checkbox" id="chk" aria-hidden="true" name="">
          <div class="content">
              <div class="front">
                  <div class="innerform me-5" id="inner_form">
                      <h2 class="mt-3">Log in</h2>
                      <p></p>
                      <input type="text" name="username" placeholder="Username" class="mt-5">
                      <input type="password" name="password" placeholder="Password" class="mt-3">
                      <label for="chk" aria-hidden="true">Forgot Password?</label>
                      <button type="submit" class="btn btn-warning _btn mainlog" style="position:relative; left:90px; top:54px">Login</button><br><br><br>
                      <div class="formlink mt-1">
                          <span class="ms-2 text-dark-blue">Not Registered yet? <a href="{{url_for("usersignup")}}" class="text-yellow">Click Here</a></span>
                          </div>
                  </div>
              </form>
              </div>
              <div class="back">
                  <form action="" method="post">
                       <input type="hidden" name="csrf_token" value="csrf_token()"/>
                      {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                      {% for category, message in messages %}
                          <div class="alert alert-{{ category }}">
                          {{ message }}
                      {% endfor %}
                      {% endif %}
  
                      {% endwith %}
                  <div class="innerform">
                      <h2 class="mb-5">Reset Password</h2><br><br>
                      <input type="email" name="email" placeholder="Username" class="mt-5">
                      <input type="email" name="quest" placeholder="Secret Answer" class="mt-2">                            
                      <input type="password" name="pswd" id="pswd1" placeholder="New password" class="mt-2">
                      <input type="password" name="cpswd" id="pswd2" placeholder="Confirm password" class="mt-2" onclick="checker2()">
                      <button type="button" class="btn btn-warning _btn reset" style="position: relative; left: 60px; top: 3%">Reset Password</button>
                      <div class="formlink mt-3">
                          <span class="ms-4 text-dark-blue">Back to Login <a href="{{url_for("userlogin")}}" class="text-yellow">Click Here</a></span>
                          </div>
                  </div>
              </div>
          </form>
          </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block extra %} {% endblock %}