{% extends "user/layout.html" %}
{% block title %}<title>Trip Gallery - Erékéré</title>{% endblock %}
{% block moreStyle %}
<style>
    .imagebox{
        background-image:url(static/images/trip1.jpg),
        linear-gradient(65deg, #3066be 12%, #23f0c7 88%);
        background-position: center;
    }
  
</style>
{% endblock %}
{% block hero %}
  <div class="row hero_box mx-auto overflow-hidden">
      <div class="col-md-6 textbox">
          <a href="/">home &sol;</a>
              <a href={{ url_for("trip") }}>trip-gallery</a>
          <h1 class="text-dark-blue">Trip Gallery</h1>
          <p>
          Erékéré won't relent...until the world sees tourism as the key to a brighter future..
      </div>
      <div class="col-md-6 imagebox"></div>
    </div>
{% endblock %}
{% block contentBody %}
  <section class="my-5 bg-dark-blue">        
    <div class="row position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark-blue">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal text-yellow">BENIN REPLUBIC</h1>
        <p class="lead fw-normal text-white"> <strong>1 COUNTRY 2 CITIES </strong> Fun activities,
          English tour guide. Border Protocol. Phyton temple. Kayaking. Local market tour.
          Point of no return. Quidah museum. Pool Games.
        </p>
        <a class="btn btn-outline-warning _btn_outline" href="/tours">Coming soon</a>
      </div>
      <div class="product-device shadow-sm d-none d-md-block" id="prd2"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
  </section>
{%endblock%}
{% block extra %}
<section>
  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-teal-blue me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Abeokuta</h2>
        <p class="lead"><strong>Abeokuta was a walled town, </strong> 
          relics of the old wall still exist. Notable buildings include the Ake (the residence of the alake),
          Centenary Hall (1930), and several churches and mosques.
        </p>
      </div>
      <div class="bg-teal-blue shadow-sm mx-auto" style="width: 80%; background-image:url(static/images/abk2.jpg); background-size: cover; background-position:center; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-lilac me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5"> Benin and Cotonou</h2>
        <p class="lead"><strong>Artists of Benin kingdom were well known for working with many materials, </strong>
          especially brass, wood, and ivory. They were famous for their bas-relief sculptures, particularly plaques,
          and life-size head sculptures. The plaques typically portrayed historical events, and the heads were
          often naturalistic and life size.
        </p>
      </div>
      <div class="bg-lilac shadow-sm mx-auto" style="background-image:url(static/images/bene1.jpg); background-size: cover; background-position:20%; width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>
  
  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-lilac me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Dubai</h2>
        <p class="lead"><strong>Dubai is a city of skyscrapers, ports, and beaches,</strong>
          where big business takes place alongside sun-seeking tourism. It is known for luxury shopping,
          ultramodern architecture and a lively nightlife scene. Burj Khalifa, an 830m-tall tower,
          dominates the skyscraper-filled skyline. At its foot lies Dubai Fountain, with jets and
          lights choreographed to music. On artificial islands just offshore is Atlantis,
          The Palm, a resort with water and marine-animal parks.
        </p>
      </div>
      <div class="bg-lilac shadow-sm mx-auto" style="background-image:url(static/images/dubai2.jpg); background-size: cover; background-position:20%; width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-teal-blue me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Enugu</h2>
        <p class="lead"><strong>The name Enugu is derived from the two Igbo words </strong>
          Énú Ụ́gwụ́, meaning "hill top",
          Enugu developed as one of the few cities in West Africa created entirely from European contact.
          It is also one of the primary filming locations for directors of the Nigerian movie industry,
          dubbed "Nollywood". 
        </p>
      </div>
      <div class="bg-teal-blue shadow-sm mx-auto" style="background-image:url(static/images/engu.jpg); background-size: cover; background-position:bottom; width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>
  
  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-lilac me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">France</h2>
        <p class="lead"><strong>France is one of the most modern countries in the world</strong>
          and is a leader among European nations. It encompasses medieval cities,
         alpine villages and Mediterranean beaches. Paris, its capital, is famed for its
         fashion houses, classical art museums including the Louvre and monuments
         like the Eiffel Tower. The country is also renowned for its wines
         and sophisticated cuisine.
        </p>
      </div>
      <div class="bg-lilac shadow-sm mx-auto" style="background-image:url(static/images/france.jpg); background-size: cover; background-position:20%; width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-teal-blue me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Ghana</h2>
        <p class="lead"><strong>Ghana is a multi-ethnic country with a diverse population,</strong>
          linguistic and religious groups.Ghana means "strong warrior king" and was the title accorded
          to the kings of the medieval Ghana Empire in West Africa—not to be confused with today's Ghana,
          for the empire was further north, in modern-day Mali, Senegal and southern Mauritania, as well as
          in the region of Guinea. Ghana was known for its large gold usage and hence was named the Land of Gold.
        </p>
      </div>
      <div class="bg-teal-blue shadow-sm mx-auto" style="background-image:url(static/images/gh2.jpg); background-size: cover; background-position:20%; width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>
  
  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-lilac me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Lagos</h2>
        <p class="lead"><strong>Lagos remains to be the most populous</strong>
          and a major financial centre in Nigeria. Lagos, the sixth-largest city in the world by city
          population is known for its beach resorts, nightlife and activity.
        </p>
      </div>
      <div class="bg-lilac shadow-sm mx-auto" style="background-image:url(static/images/lag1.jpg); background-size: cover; background-position:20%; width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-teal-blue me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Obudu</h2>
        <p class="lead"><strong>Obudu Mountain Resort is one of Africa's finest</strong>
          and most interesting and spectacular tourist destinations.
          It features a tourist resort, Obudu Mountain Resort, that hosts an
          annual mountain running competition called the Obudu Ranch International Mountain Race.
        </p>
      </div>
      <div class="bg-teal-blue me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
      <div class="bg-body shadow-sm mx-auto" style="background-image:url(static/images/obudu1.jpg); background-size: cover; background-position:20%; width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>
</section>
{% endblock %}


             