*{
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden !important; */
    scroll-behavior: smooth;
}

:root{
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

body{
    font-family: Montserrat, sans-serif;
    scroll-behavior: smooth;
}


.mobilenav {
    overflow: hidden;
    position: relative;
  }

  .mobilenav #navlinks{
    display: none;
  }

  .mobilenav a {
    color: #2D3A3A;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .mobilenav a.icon {
    color:#3D0814;
    display: block;
    position: absolute;
    right: 0px;
    top: -26px;
  }
  
.top_menu{
    position: relative;
    left:60vw;
}
.top_menu a{
    color:#2B2D42;
    text-decoration:none;
    line-height: 50px;
    font-size:smaller;
    font-weight: 300;
}

.top_menu a:hover{
    color:#006D77;
}

.myacct{
    color:#EA7317 !important;
    font-weight: 600 !important;
}

.myacct:hover{
    color:#006D77 !important;
}

.header-menu a{
    font-size:large;
    position:relative;
    right:0px;
}

.header-menu a:hover{
    color:#FFDA29 !important;
}


._btn{
    background-color: #FFDA29 !important;
    border-radius: 10px !important;
    color:#0A122A !important;
}

._edge{
    background-color: #0A122A !important;
    border-radius: 10px !important;
    color:#2D3A3A !important;
}

._btn_outline{
    border-radius: 10px !important;
}

._btn :hover{
    background-color:#420039 !important;
    color:#ffffff !important;
	transition:0.15s !important;
}

.hero{
    background-position-x: 28%;
}

.hero-side{
    background-color: #001B2E !important;
    color: #ffffff !important;
}

.text-yellow{
    color: #FFDA29 !important;
}

.bg-yellow{
    background-color: #FFDA29 !important;
}

.text-lilac{
    color: #BC8DA7 !important;
}

.burgundy{
    color: #31081F;
}

.bg-lilac{
    background-color: #BC8DA7 !important;
    color:#ffffff !important;
}

.text-dark-blue{
    color:#001B2E !important;
}

.bg-dark-blue{
    background-color: #001B2E !important;
}

.bg-teal-blue{
    background-color: #A4BAB7 !important;
    color: #ffffff !important;
}


.why-text{
    width:70%;
}

.mailing{
    width: 60%;
}

.mailing form{
    width:fit-content;
}


.intro{
    border:none;
    height:15vh;
    color:#659B5E;
    font-size: xx-large;
}

.homecontainer_2{
    background-image: url(../images/happy.jpg);
    background-size: cover;
    height:50vh;
    
}

.homecontainer_3{
    background-image: url(../images/img4.jpg);
    background-size: cover;
    background-position-y: 58%;
    height:50vh;
}

.bottom_box{
    height:70vh;
    width:85%;
    display: flex;
	justify-content:space-between;
	align-items:center;
    flex-direction: row; 
}




.bottom_box2 hr{
    width:11.71875vw;
	background-color:#698F3F !important;
	border:2px solid #698F3F !important;
    position: relative !important;
    top:10% !important;
    left:-.045% !important;
}

.bottom_box2 h2{
		width:80%;
		font-size:larger;
        color:#31081F;
}

.bottom_box2 .inner{
		width:70%;
        font-size: large;
        font-weight: 400;		
}




.box_single_content{
    border: 2px solid red;
    height:58vh;
}
.box_single{
    border:2px solid blue;
    height:58vh;
}
.box_single video{
    position: relative;
    left:6%;
    top:5%
}


    /* color:#EA7317; */
 





.hero_box{
    min-height:40vh;
    justify-content:center;
    align-items:flex-start;
    color:#F7F7F9;    
}
.textbox{
    min-height:40vh;
    background-color:#FFDA29;
    
}

.textbox a{
    text-decoration:none;
    color:#76818E;
    font-size:10px;
    position:relative;
    top:50px;
    left:35px;
}
.textbox h1{
    font-size:50px;
    padding:10px;
    position:relative;
    top:30px;
    left:200px;
    
}

.textbox p{
    color:#6C464E;
    font-size:21px;
    font-weight:600;
    width:60%;
    font-weight:400;
    position:relative;
    top:10px;
    left:210px;
    
}

.imagebox{
    min-height:40vh;
    background-image:url(../images/boat.JPG),
    linear-gradient(65deg, #3066be 12%, #23f0c7 88%);
    background-size:cover;
}

.body_content{
	height:20vh;
	text-align:center;
	width:70%;
}

.body_content p{
	width:80%;
    color:#2B2D42;
    font-size: large;
}
.body_content h2{
	font-size:48px;
	font-weight:300;
	line-height:25px;
	margin:60px auto;
}
.body_intro{
	width:70%;
	font-size:medium;
	color:#31081F;
    height: 20vh;
	line-height:32px;
    position: relative;
    top:20%;
}

.body_box{
	height:480px;
	width:80%;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
.body_box1{
	min-height:40vh;
}
.body_box1 h2{
    font-size:21px;
    color: #31081F;
}
.body_box1 p{
    font-size: medium;
}
#body_box2{
	height:40vh;
	background-image:url(../images/c.jpg);
    background-position: bottom;
	background-size:cover;
	border-radius:20px;
}

#body_box2{
    height:300px;
}

#body_box2 a{
		text-decoration:none;
		padding:10px;
		color:#090c9b;
		font-size: 17px;
		font-weight: 600;
		letter-spacing: -.24px;
		line-height: 24px;
		position:relative;
		bottom:60px;
		
}		
#body_box2 a:hover{
		color:#3066be;
		transition:0.15em;
}


#body_box2 h2{
		width:80%;
		font-size:30px;
		padding:10px;
		position:relative;
		bottom:80px;
}

#body_box2 p{
		width:70%;
		padding:10px;
		position:relative;
		bottom:100px;	
}

.form_intro{
	width:70%;
	font-size:x-large;
	color: #006D77;
	line-height:20px;
    text-align:center;
    height:20vh;
    font-weight:400;
    margin:auto;
    position:relative;
    top:140px
}

.terms p,li{
    width:80% !important;
    font-size: medium;
}
.terms ol li{
    list-style: upper-alpha;
}
.about_info{
    height:56vh;
    background-color: #E2DADB;
}
.about_info h2{
    font-size: large;
}

.gallery{
    justify-content: space-between;
    align-items: center;

}
.gallery1{
    border:2px solid green;
    height:60vh;
    width:38vw;
}

#explore{
    color:#FF570A;
    font: 1em;
    font-weight: 700;
}

#experience{
    color:#12355B;
    font: 1em;
    font-weight: 700;
}

#why{
    font-size:10px;
    color:#006D77;
    font-weight:900; position:relative;
}


.error-msg{
    color:red;
}


.product-device {
position: absolute;
right: 10%;
bottom: -30%;
width: 300px;
height: 540px;
background-image: url(../images/pd.jpg);
border-radius: 21px;
transform: rotate(30deg);
}

#prd2{
    background-image: url(../images/prd2.jpg);
    background-position-x: 85%;
}

.product-device::before {
position: absolute;
top: 10%;
right: 10px;
bottom: 10%;
left: 10px;
content: "";
background-color: rgba(255, 255, 255, .1);
border-radius: 5px;
}

.product-device-2 {
top: -25%;
right: auto;
bottom: 0;
left: 5%;
background-color: #e5e5e5;
}


  
  
  
  .flex-equal > * {
    flex: 1;
  }


@media (min-width: 768px){
    .why-video{
        position:relative;
        left:180px;
    }
    .why-video video{
        width:400px;
        height: 400px;
    }
    .mailing{
        position: relative;
        left:15%;
    }
}

@media (max-width: 767px) {
    .top_menu{
        display: none;
    }

    .why-video{
        position:relative !important;
        right:48px !important;
    }
    .why-text{
        margin:auto;
    }

    .textbox{
        height:fit-content;
    }

    .textbox a{
        position:relative;
        top:30px;
        left:0;
    }

    .textbox p{
        position: relative !important;
        left:96px !important;
        top: 10px;
        font-size: small;
    } 
    .textbox h1{
         position: relative !important;
        left:80px !important;
        top: 24px;
        font-size: xx-large;
    }
    .body_content{
        display:none;
    }
    .form_intro{
        width: fit-content;
        margin-top: 10%;
        font-size: large;
    }
    ._edge{
        width:100% !important;
        margin-top:30%;
    }
}